<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>MyFirstSafariAppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>MySecondSafariAppExtension.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>SafariAppExtensionDemo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>3B7DCBFC211AD10600F58D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3B7DCC19211AD13200F58D61</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB3184921198AB5000EC8AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>3BB3186421198AF3000EC8AA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
